body {
  background-attachment: fixed;
  background-image: url('../images/innovation 20.jpg');
  background-size: 100%;
}
h1 {
  margin-top: 20px;
}

h1, #pageDesc {
  margin-right: 25%;
  color: #fff;
}

.proj-box {
  border: 1px solid #000;
  margin: 3% 2% 0% 2%;
  min-height: 150px;
  justify-content:center;
  align-items:center;
  background-color: #fff;
}
.proj-desc {
  text-align: left;
}
.bold {
  font-weight: bold;
}

#pageDesc {
  padding: 2% 14%;
}