body {
  background-color: #fff;
}
h1 {
  font-size: 40px;
}
h4 {
  font-size: 28px;
}
ol {
  margin: 0% 6%;
}
ol li {
  margin-bottom: 3%;
  list-style-type: circle;
}
footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}
footer div p {
  margin: auto 0%;
}

.headDesc {
  margin-top: 2%;
}
.footer-col {
  display: flex;
  flex-direction: column;
  border-left: .1px solid #000;
  padding: 0% 2%;
}
.footer-col a {
  margin-bottom: 10px;
  line-height: 120%;
}
.footer-col:first-child {
  border-left: 0px solid #000;
}

@media all and (max-width: 575px){
  .footer-col {
    border-left-width: 0px;
  }

  #footer-hold {
    flex-direction: row;
  }
}