@import 'reset';
@import 'color';
@import 'font';
@import 'main-styles';
@import 'mixins';
@import 'text-elements';
@import 'transitions';
@import 'ui-elements';

.fancyNavbar {
  li {
    margin-left: .5%;
    margin-bottom: .5%;
    border: 1px solid #000;
    min-width: 90px;
    max-width: 90px;
    min-height: 90px;
    max-height: 90px;
    transition: background-color 1s, min-height 1s, max-height 1s;
    &:hover {
      margin-bottom: 0%;
      min-height: 100px;
      max-height: 100px;
    }
    svg {
      min-width: 40px;
      max-width: 40px;
      min-height: 40px;
      max-height: 40px;
      margin: 15px 25px 0px 25px;
    }
    a {
      color: #000;
      &:hover {
        color: #000;
      }
    }
  }

  #navExtend {
    transition: background-color 1s;
  }
  #red:hover, #navExtend:hover {
    background-color: #D24D3B;
  }
  #tGreen:hover, #navExtend:hover {
    background-color: #D6E03E;
  }
  #fGreen:hover, #navExtend:hover {
    background-color: #8CAB3C;
  }
  #cyan:hover, #navExtend:hover {
    background-color: #12B5EA;
  }
  #blue:hover, #navExtend:hover {
    background-color: #056CB6;
  }
  #grape:hover, #navExtend:hover {
    background-color: #AB79A3;
  }
}