@import 'reset';
@import 'color';
@import 'font';
@import 'main-styles';
@import 'mixins';
@import 'text-elements';
@import 'transitions';
@import 'ui-elements';
.fancyNavbar {
  position: relative;
  ul{
    justify-content: center;
    li {
      margin-left: .5%;
      margin-bottom: 0;
      min-width: 90px;
      max-width: 90px;
      min-height: 90px;
      max-height: 90px;
      transition: background-color 1s, min-height 1s, max-height 1s;
      &:hover {
        margin-bottom: 0%;
      }
      svg {
        min-width: 40px;
        max-width: 40px;
        min-height: 40px;
        max-height: 40px;
        margin: 15px 25px 0px 25px;
      }
      a {
        color: #000;
        &:hover {
          color: #000;
        }
      }
    }
  }
  #navExtend {
    transition: background-color 1s;
  }
  #red:hover, #red:hover + .dropNav {
    background-color: #D24D3B;
    display: block;
    @include transitionColor(0s);
    cursor: crosshair;
  }
  #tGreen:hover, #tGreen:hover + .dropNav {
    background-color: #D6E03E;
    display: block;
    @include transitionColor(0s);
    cursor: crosshair;
  }
  #fGreen:hover, #fGreen:hover + .dropNav {
    background-color: #8CAB3C;
    display: block;
    @include transitionColor(0s);
    cursor: crosshair;
  }
  #cyan:hover, #cyan:hover + .dropNav {
    background-color: #12B5EA;
    display: block;
    @include transitionColor(0s);
    cursor: crosshair;
  }
  #blue:hover, #blue:hover + .dropNav {
    background-color: #056CB6;
    display: block;
    @include transitionColor(0s);
    cursor: crosshair;
  }
  #grape:hover, #grape:hover + .dropNav {
    background-color: #AB79A3;
    display: block;
    @include transitionColor(0s);
    cursor: crosshair;
  }
  
  .dropNav{
    display: none;
    position: absolute;
    top: 79%;
    width: 100vh;
    background-color: initial;
    @include transitionColor(1s);
    z-index: 1;
    &:hover{
      display: block;
      background-color: #2B2929;
      a{
        color: white;
      }
    }
    a{
      display: inline-block;
      text-align: center;
      border: 0;
      color: black;
      padding: 10px;
    }
  }
}