@import 'mixins';
@import 'color';
@each $prop in width, height{
    @each $color in primary, second, third, white, grape, blue, cyan, fGreen, tGreen, red, gray, yellow, orange{
        @for $sec from 0s through 60s{
            .extnd-#{$prop}-#{$color}-#{$sec} {
                width: 100px;
                height: 100px;
                @include transition($prop, $sec);
                &:hover{ 
                    @if($prop == height) { height: 300px; }
                    @if($prop == width) { width: 300px; }
                    
                    @if($color == primary) { background: $primaryColor; }
                    @if($color == second) { background: $secondaryColor; }
                    @if($color == third) { background: $thirdColor; }
                    @if($color == white) { background: white; }
                }
            }
            .extnd-#{$prop}-#{$sec} {
                width: 100px;
                height: 100px;
                @include transition($prop, $sec);
                &:hover{ 
                    @if($prop == height) { height: 300px; }
                    @if($prop == width) { width: 300px; }
                }
            }
            .changeTo-#{$color}-#{$sec} {
                @include transitionColor($sec);
                &:hover{ 
                    @if($color == primary) { background: $primaryColor; }
                    @if($color == second) { background: $secondaryColor; }
                    @if($color == third) { background: $thirdColor; }
                    @if($color == white) { background: white; }
                    @if($color == grape) { background: #AB79A3; }
                    @if($color == blue) { background: #056CB6; }
                    @if($color == cyan) { background: #12B5EA; }
                    @if($color == fGreen) { background: #8CAB3C; }
                    @if($color == tGreen) { background: #D6E03E; }
                    @if($color == red) { background: #D24D3B; }
                    @if($color == gray) { background: #2B2929; }
                    @if($color == yellow) { background: #FFCC00; }
                    @if($color == orange) { background: #EA9919; }
                }
            }
        }
    }
}